@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-porto-navy: #14283D; /* Original Marinho */
  --color-porto-gold: #C5A059; /* Original Gold */
  --color-porto-light: #F8F9FA;
  
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Roboto", sans-serif;
  --font-luxury: "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-[#F8F9FA] text-[#1E293B] font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/[0.05] backdrop-blur-xl border border-white/10;
  }
}
